*{
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
}

header{
    display: flex;
    background: bisque;
    margin: 0.7em;
    height: 10vh;
}

.container{
    display: flex;
    flex : 1;
}

.container aside{
    background: rgb(250, 151, 151);
    margin: 0.7em;
    order: 1;
    flex: 40vw;
}

.container article{
    background: aquamarine;
    margin: 0.7em;
    order: 2;
    flex: 60vw;
    justify-content: space-between;

}

.images{
    display: flex;
    width: 10vw;
    height: 10vh;
    margin: 1em;
}

footer{
    display: flex;
    background: bisque;
    margin: 0.7em;
    height: 10vh;
}